.home{
    height: 100%;
    background-color: #f7f2f2;
    font-family:  "Exo 2", sans-serif;
}
.container{
    display: flex;
    justify-content: center;
}
.col{
    display: flex;
    flex-direction: column; /* Stack items vertically */
    align-items: center; 
}
.text {
    font-size: 16px;
    font-family: "Exo 2", sans-serif;
    font-weight: 750;
    font-size: 25px;
    margin-top: 30px;
    line-height: 50px;
    margin-right: 2cm;
  }

.flex-container{
    display: flex;
   justify-content: center;
}

.name-highlight{
    font-weight: 900;
    color: #ec7b5c;
}
.social-media{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.social-media-card{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    margin-right: 1.3cm;
    margin-top: 30px;
    border: 0;
}
.content{
    padding-left: 50px;
}
